ion-radio-group ion-item ion-label{
  border-bottom: 1px solid white;
}

ion-radio {
  --color: white;
  margin-right: 10px;
}

.answer {
  border-bottom: solid 1px white;
  width: 100%;
}

.correctAnswer {
  width: 100%;
  border-bottom: solid 1px green;
  color: green;
  --color: green;
}
