.input{
  --background: rgba(255, 255, 255, 0.04);
  width: 100%;
  --highlight-color-valid: #007AFF;
  --background-focused: none;
}

ion-content{
  position: relative;
}

ion-button{
  margin-top: 10px;
}

ion-grid{
  position: absolute;
  top: 35%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.logo{
  display: block;
  margin: 10px auto;
  width: 60%;
  max-width: 180px;
}
//
//ion-spinner {
//  width: 1em;
//  height: 5em;
//}
